#!example
- full_fex_interface_number: 101/1/4
  hostai: TEONET01
  vlan_native: 180
  vlans: 170, 180
  xstatus: 1
- full_fex_interface_number: 101/1/1
  hostai: TEONET01
  interface_description: tstdsct001prvitx
  port_profile_name_prior: TEO:Openstack-Nova
  xstatus: 1
- full_fex_interface_number: 101/1/2
  full_fex_interface_number2: '-'
  hostai: TEONET01
  interface_description: tstdsct002prvitx
  vlan_native: 180
  vlans: 170,180
  xstatus: 1
- full_fex_interface_number: 101/1/3
  full_fex_interface_number2: '-'
  hostai: TEONET01
  interface_description: tstdsct003prvitx
  port_profile_name_prior: '-'
  vlan_native: 180
  vlans: 170,180
  xstatus: 1
